/* Global Styling */
body {
    padding-top: 100px;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Float Effect - Links */
.hvr-float {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
}

/* Navbar Styling */
.navbar-custom-style {
    background-image: linear-gradient(to right, #22e4ac, #234c3a);
}

.navbar-nav .nav-item .nav-link {
    color: white;
    font-weight: 500;
    padding: 20px;
}

.navbar {
    box-shadow: 1px 0px 8px 3px #292929;
}

#offcanvasNavbar {
    background-color: #239873;
    max-width: 70vw;
    color: white;
}

.navbar-toggler {
    filter: invert(100);
}

#logo {
    color: white;
    text-shadow: #234c3a 2px 0px 3px;
    padding-left: 10px;
}

/* Footer Styling */
#footer {
    position: relative;
    bottom: 0;
    padding: 0;
    margin: 0;
    max-width: 100vw;
    box-shadow: 0px -1px 6px 1px #292929;
    background-image: linear-gradient(to right, #22e4ac, #234c3a);
}

footer h5 {
    color: white;
    text-shadow: #234c3a 2px 0px 3px;
}

#footer-text {
    color: white;
    font-size: 14px;
    font-weight: 500;
    text-shadow: #234c3a 2px 0px 3px;
}

#hackathon-link {
    color: white;
    transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

#hackathon-link:hover {
    color: blue;
    text-shadow: none;
}

#fb-link {
    color: #4267B2;
    font-size: 25px;
}

#instagram-link {
    color: #8a3ab9;
    font-size: 25px;
}

#twitter-link {
    color: #1DA1F2;
    font-size: 25px;
}

#linkedin-link {
    color: #0A66C2;
    font-size: 25px;
}

#email-link {
    color: white;
    font-size: 25px;
}

.github-logo {
    color: black;
    font-size: 25px;
}

.github-link {
    color: white;
    font-weight: 500;
    text-shadow: #234c3a 2px 0px 3px;
    text-decoration: none;
}

/* Hero image */

#hero-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;

    /* Change position to relative and cover-text to absolute to get it fixed in the section. */
    position: relative;
}

#hero-image {
    height: 100%;
    width: 100%;
    background-color: #000000;
    /******* URL TO BE CHANGED *******/
    background: url('https://img.freepik.com/free-vector/people-donate-money-charity_107791-16828.jpg?w=1380&t=st=1676725629~exp=1676726229~hmac=9b162f46bdb677e6361be7de600b9edb1aecace7cf57730e597638826362d7ed') no-repeat center center;
    background-size: cover;
}

/* Text over hero image */

#cover-text h2 {
    color: #000000;
}

#cover-text {
    font-size: 130%;
    letter-spacing: 2px;
    text-align: center;

    width: 100%;
    height: 120px;

    background-color: rgb(254, 238, 223, .7);
    bottom: 0px;

    position: absolute;
    display: flex;
    justify-content: center;
}

#cover-text h2 {
    margin: 20px;
    align-self: center;
}

/* NGOs Listview */
.mt-nav {
    margin-top: 140px;
}