{% extends "base.html" %}

{% block title %}About{% endblock %}
{% block content %}

<!-- What goes here will render as body of the page -->
<div class="container about">
    <h1 class="text-center">About Us</h1>
    <p>Welcome to our website, where we collect and present data about NGOs. Our mission is to provide a comprehensive
        and reliable source of information for individuals and organizations seeking to learn more about the
        non-governmental sector.
    </p>
    <p>Our team is dedicated to gathering and verifying information on NGOs from around the world. We believe that
        access to accurate and up-to-date information is essential for effective decision-making and strategic planning,
        particularly in the context of the social sector.
    </p>
    <p>Our website features a searchable database of NGOs, which includes information on their location, focus areas,
        funding sources, and more. We also provide analysis and insights on the latest trends and developments in the
        non-governmental sector, as well as resources and tools to support NGOs in their work.
    </p>
    <p>At our core, we are committed to transparency, objectivity, and impartiality in our data collection and
        reporting. We strive to present a balanced and accurate view of the NGO landscape, and to empower individuals
        and organizations with the knowledge they need to make a positive impact in their communities.
    </p>
    <p>Thank you for visiting our website, and we hope that you find our data and resources useful in your work. If you
        have any questions or feedback, please don't hesitate to reach out to us.
    </p>
</div>
{% endblock %}