{% load static %}
{% load crispy_forms_tags %}


<!-- Whatever wants to be import or link that goes in the HEAD of HTML goes in this page-->


<!DOCTYPE html>
<html lang="en">

<head>

    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

    {% block corecss %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}

    {% block extracss %}{% endblock %}

    {% block corejs %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
    </script>
    <script src="https://kit.fontawesome.com/92bb20ec43.js" crossorigin="anonymous"></script>
    {% endblock %}

    <title>Local Loving | {% block title %}{% endblock %}</title>

</head>

<body>
    <!-- NAVBAR goes here -->
    <nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary navbar-custom-style">
        <div class="container-fluid">
            <a id="logo" class="navbar-brand" href="{% url 'index' %}">
                <img src="{% static 'media/images/logo.png' %}" alt="Local Loving Logo" height="75px" width="73px">
                <h2 class="d-inline-block align-middle lh-1">Local<br>Loving</h2>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar" aria-label="Open Menu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div class="navbar-nav justify-content-end flex-grow-1">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-4">
                            <!-- Navbar links for all users -->
                            <li class="nav-item">
                                <a class="nav-link hvr-float" href="{% url 'index' %}"><i
                                        class="fa-solid fa-house pe-3 d-lg-none"></i>Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link hvr-float" href="{% url 'listview' %}"><i
                                        class="fa-solid fa-pen pe-3 d-lg-none"></i>NGOs</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link hvr-float" href="{% url 'about' %}"><i
                                        class="fa-solid fa-circle-info pe-3 d-lg-none"></i>About Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link hvr-float" href="{% url 'setup' %}"><i
                                        class="fa-solid fa-circle-question pe-3 d-lg-none"></i>Setup an NGO</a>
                            </li>
                            <!-- Navbar links for authenticated users -->
                            {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link hvr-float" href="{% url 'add_ngo' %}"><i
                                        class="fa-solid fa-circle-user pe-3 d-lg-none"></i>Add Your NGO</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link hvr-float" href="{% url 'account_logout' %}"><i
                                        class="fa-solid fa-circle-user pe-3 d-lg-none"></i>Logout</a>
                            </li>
                            {% else %}
                            <!-- Navbar links for all users -->
                            <li class="nav-item ps-lg-5 pt-4 pt-lg-0">
                                <a class="nav-link hvr-float" href="{% url 'account_login' %}"><i
                                        class="fa-solid fa-circle-user pe-3 d-lg-none"></i>Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link hvr-float" href="{% url 'account_signup' %}"><i
                                        class="fa-solid fa-user-plus pe-3 d-lg-none"></i>Sign Up</a>
                            </li>
                            {% endif %}
                    </div>
                </div>
            </div>
    </nav>
    <!-- Message success after adding a new NGO -->
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-css" id="message" data="modal" data-toggle="modal" role="alert"
        style="z-index:15">
        {{ message }}
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}

    {% block content%}

    <!-- HERE will render what you put in each other html -->

    {% endblock %}

    <!-- FOOTER goes here -->
    <footer id="footer" class="container-fluid">
        <div class="container-fluid row py-2">
            <div class="col-12 col-md-4 text-center m-auto">
                <h5>Contact or follow us...</h5>
                <a id="fb-link" class="footer-socials px-2 hvr-float" href="https://www.facebook.com/" target="_blank"><i
                        class="fa-brands fa-facebook"></i></a>
                <a id="instagram-link" class="footer-socials px-2 hvr-float" href="https://www.instagram.com/" target="_blank"><i
                        class="fa-brands fa-instagram"></i></a>
                <a id="twitter-link" class="footer-socials px-2 hvr-float" href="https://twitter.com/" target="_blank"><i
                        class="fa-brands fa-twitter"></i></a>
                <a id="linkedin-link" class="footer-socials px-2 hvr-float" href="https://www.linkedin.com/" target="_blank"><i
                        class="fa-brands fa-linkedin"></i></a>
                <a id="email-link" class="footer-socials px-2 hvr-float" href="mailto:info@localloving.com" target="_blank"><i
                        class="fa-solid fa-envelope"></i></a>
            </div>
            <div id="footer-text" class="col-12 col-md-4 text-center">
                <p>
                    This website is for educational purposes only and does not represent a real company, NGO or charity.
                    It was created for the sole purpose of participation in the <a id="hackathon-link"
                        href="https://hackathon.codeinstitute.net/" target="_blank">Code Institute Hackathon</a>
                    February 2023. <br>© Team 9 2023. All Rights Reserved.
                </p>
            </div>
            <div class="col-12 col-md-4 m-auto">
                <div class="row text-center flex-nowrap">
                    <a class="col github-link hvr-float" href="https://github.com/Ant2210" target="_blank"><i class="fa-brands fa-github github-logo"></i><br>Ant</a>
                    <a class="col github-link hvr-float" href="https://github.com/CarmenCantudo" target="_blank"><i class="fa-brands fa-github github-logo"></i><br>Carmen</a>
                    <a class="col github-link hvr-float" href="https://github.com/HPCarey" target="_blank"><i class="fa-brands fa-github github-logo"></i><br>Hannah</a>
                    <a class="col github-link hvr-float" href="https://github.com/IvetteMcDermott" target="_blank"><i class="fa-brands fa-github github-logo"></i><br>Ivette</a>
                </div>
                <div class="row text-center flex-nowrap mx-3">
                    <a class="col github-link hvr-float" href="https://github.com/MiaRasmussen05" target="_blank"><i class="fa-brands fa-github github-logo"></i><br>Mia</a>
                    <a class="col github-link hvr-float" href="https://github.com/RVKIonesi" target="_blank"><i class="fa-brands fa-github github-logo"></i><br>Raymond</a>
                    <a class="col github-link hvr-float" href="https://github.com/SamMartin92" target="_blank"><i class="fa-brands fa-github github-logo"></i><br>Sam</a>
                </div>
            </div>
        </div>

    </footer>
    {% block postloadjs %}
    <script src="{% static 'js/script.js' %}"></script>
    {% endblock %}
</body>

</html>