{% extends "base.html" %}

{% block content %}
<div class="container">
    <form method="post" id="form_section" enctype="multipart/form-data" style="margin-top: 1.3em;" class="form-label">

        <h1 class="modal-title text-center">Add a NGO</h1>
        <div class="mx-5 form">
            {{ form.as_p }}

            {{ form.media }}

            {% csrf_token %}
        </div>
        <div class="modal-footer my-5">
            <button type="button" class="btn btn-secondary m-2" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary m-2">Save</button>
        </div>
    </form>
</div>
{% endblock %}