{% extends "base.html" %}
{% block content %}

<!-- Hero image -->
<div id="hero-outer">
    <div class="container-fluid" id="hero-image"></div>
    <div id="cover-text">
        <h2>"Empowering Change: Connecting NGOs with Global Communities."</h2>
    </div>
</div>
<div class="container">
    <h3 class="my-4">Feature NGO</h3>
    {% if feature_ngo %}
    <div class="row">
        <div class="col-3">
            <a href="{% url 'detail' feature_ngo.id %}" class="links"><img src="#" class="d-block w-100" alt="{{ feature_ngo.name }} image"></a>
        </div>
        <div class="col-9">
            <div class="mb-3">
                <a href="{% url 'detail' feature_ngo.id %}" class="links"><h5>{{ feature_ngo.name }}</h5></a>
                <p>{{ feature_ngo.description }}</p>
                <a class="" href="#">
                    <p>#{{ feature_ngo.category }}</p>
                </a>
            </div>
        </div>
    </div>
    {% endif %}
    <h3 class="my-4">Recent NGOs</h3>
    <div class="row">
        {% for ngo in ngos %}
        <div class="col-lg-3 col-md-4 col-sm-6">
            <a class="links" href="{% url 'detail' ngo.id %}">
                <!-- Featured image -->
                <img src="#" class="d-block w-100" alt="{{ ngo.name }} image">
            </a>
            <div class="mb-3">
                <h5>{{ ngo.name }}</h5>
                <a class="links lighter" href="#">
                    <p>#{{ ngo.category }}</p>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}