{% extends "base.html" %}

{% block content %}
<div id="hero-outer">
    <div class="container-fluid" id="hero-image"></div>
    <div id="cover-text">
        <h2>"Empowering Change: Connecting NGOs with Global Communities."</h2>
    </div>
</div>

<section class="container">
    <div id="cause-select">
        <h1 class="m-3">Worldwide NGOs</h1>
        <h5 class="m-3">Support a cause which matters to You!</h5>
        <div class="m-3">
            <p>Select from the list below and discover worthy NGOs.</p>
            <p>Learn more and Donate</p>
        </div>
        <div class="m-3">
            <select id="choice">
            </select>
            <button id="button1" class="btn btn-success">Select</button>
        </div>
    </div>
    <div class="row" id="result">

    </div>

</section>

{% endblock %}