{% extends "base.html" %}

{% block content %}

<div class="container mt-nav">
    <div class="row col-12 mt-3 left">
        <div class="row">
            {% for ngo in ngo_list %}
            <div class="col">
                <a class="" href="{% url 'detail' ngo.id %}">

                    <!-- Featured image -->
                    <img src="" class="d-block w-100" alt="{{ ngo.name }} image">
                </a>
                <div class="mb-3">
                    <a class="ngo-heading-link" href="{% url 'detail' ngo.id %}"><h5>{{ ngo.name }}</h5></a>
                    <a class="links" href="#">
                        <p>#{{ ngo.category }}</p>
                    </a>
                </div>
            </div>
        {% if forloop.counter|divisibleby:4 %}
        </div>
        <div class="row">
        {% endif %}
        {% endfor %}
        </div>
    </div>
</div>

{% endblock %}