{% extends "base.html" %}

{% block title %}NGOs{% endblock %}

{% block content %}

<div class="container mt-nav">
    <!-- <div class="row col-12 mt-3 left"> -->
        <div class="row ngo-wrapper">
            {% for ngo in ngo_list %}
            <div class="col-lg-3 col-md-6 col-sm-10 ngo-box">
                <a class="" href="{% url 'detail' ngo.id %}">
                    <!-- Featured image -->
                    <img src="{{ ngo.image.url }}" class="d-block w-100 ngo-img" alt="{{ ngo.name }} image">
                </a>
                <div class="hr">
                    <hr>
                </div>
                <div class="mb-3 ngo-text">
                    <a class="links" href="{% url 'detail' ngo.id %}"><h5>{{ ngo.name }}</h5></a>
                    <p class="links lighter">
                        #{{ ngo.category }}
                    </p>
                </div>
            </div>
        {% if forloop.counter|divisibleby:4 %}
        </div>
        <div class="row">
        {% endif %}
        {% endfor %}
        </div>
    <!-- </div> -->
</div>

{% endblock %}